/* Import Google Font (Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #009688;
  --primary-light: rgba(0, 150, 136, 0.15);
  --primary-lighter: rgba(0, 150, 136, 0.08);
  --text-color: #333;
  --bg-color: #fdfdfd;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #333;
  background: #fdfdfd;
}

/* width css */

.max-width-1280px {
  max-width: 1280px;
}
