/* Import Google Font (Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #009688;
  --primary-light: rgba(0, 150, 136, 0.15);
  --primary-lighter: rgba(0, 150, 136, 0.08);
  --text-color: #333;
  --bg-color: #fdfdfd;
  --white: white;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #333;
  background: #fdfdfd;
}

/* width css */

.max-width-1280px {
  max-width: 1280px;
}

a {
  text-decoration: none !important;
}

ul,
li,
a,
p {
  margin: 0 !important;
  padding: 0 !important;
}

/*  Header Section  */

.header-sec {
  background-color: var(--primary);
}

.header-sec .logo,
.header-sec .header-menu-sec ul li a {
  color: var(--white);
}

.header-sec .logo {
  font-size: 1.7rem;
  font-weight: 600;
}

.header-sec .header-menu-sec ul li a {
  font-weight: 500;
}

.header-sec .header-menu-sec ul li {
  border-radius: 5px;
}

.header-sec .header-menu-sec ul li:hover a {
  color: var(--primary);
  transition: all 0.2s ease;
}

.header-sec .header-menu-sec ul li:hover {
  background-color: var(--bg-color);
}

.main-box .menu-x-icon,
.main-box .menu-icon {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .header-sec {
    position: relative;
  }

  .main-box .header-menu-sec {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100% !important;
    overflow: hidden;
  }

  .header-menu-sec ul {
    width: 100% !important;
    flex-direction: column !important;
    background-color: var(--primary);
    padding: 0 0 10px 0px !important;
  }

  .header-menu-sec ul li {
    width: 100%;
    margin: 0 !important;
    padding: 0 0 0 16px !important;
    border-radius: 0px !important;
  }

  .main-box #menuList {
    transition: all 0.5s !important;
  }

  .main-box .menu-icon {
    display: block;
  }

  .main-box .logo {
    font-size: 1rem;
  }

  .header-menu-sec ul li a {
    font-size: 12px;
  }
}

/* Hero Section */

.hero-sec .hero-container {
  background-color: var(--primary-light);
  height: auto;
  border-radius: 20px;
  color: var(--text-color);
}

.hero-img-sec {
  width: 80%;
}

.greeting {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
}

.hero-main-heading {
  font-size: 40px;
}

.hero-line {
  font-size: 20px;
}

.hero-btn-sec {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 8px;
  color: white;
}

.hero-btn-sec a {
  color: var(--white);
}

.hero-btn-sec:hover {
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
  border: 2px solid var(--primary);
}

.hero-btn-sec:hover a,
.hero-btn-sec:hover a i {
  color: var(--primary) !important;
}

@media screen and (max-width: 840px) {
  .hero-sec .hero-container {
    display: block !important;
  }

  .hero-container .hero-left-sec,
  .hero-container .hero-right-sec {
    width: 100% !important;
  }

  .hero-container .hero-right-sec {
    margin-top: 70px;
  }
}

@media screen and (max-width: 576px) {
  .hero-sec .hero-container {
    padding: 25px 0 !important;
  }

  .hero-right-sec {
    margin-top: 45px !important;
  }

  .hero-right-sec .greeting,
  .hero-right-sec .hero-line {
    font-size: 14px;
  }

  .hero-right-sec .hero-main-heading {
    font-size: 22px;
  }

  .hero-right-sec .hero-btn-sec {
    border: 1px solid var(--primary);
    padding: 3px 6px !important;
    border-radius: 5px;
  }

  .hero-btn-sec a {
    font-size: 8px;
  }
}

/* About Me Section */

.about-sec {
  height: auto;
  background-color: var(--primary-light);
  border-radius: 20px;
}

.about-sec .about-left-sec,
.about-sec .about-right-sec {
  width: 50%;
  color: var(--text-color);
}

.about-heading {
  color: var(--primary);
  font-weight: 600;
  font-size: 35px;
}

.about-heading::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: var(--primary);
  opacity: 0.6;
  margin: 10px auto 0;
  border-radius: 2px;
}

.about-right-sec .about-img-sec img {
  border-radius: 20px;
  filter: drop-shadow(4px 4px 5px gray);
}

@media screen and (max-width: 840px) {
  main .about-container-sec {
    display: block !important;
  }

  .about-container-sec .about-left-sec,
  .about-container-sec .about-right-sec {
    width: 100% !important;
    padding: 0 !important;
  }

  .about-container-sec .about-right-sec {
    justify-content: start !important;
    margin-top: 50px;
  }

  .about-sec .about-heading {
    text-align: left !important;
    display: inline-block;
    margin-bottom: 40px !important;
  }

  .about-left-sec .about-para {
    padding-right: 0 !important;
  }

  .my-details {
    width: 80% !important;
  }
}

@media screen and (max-width: 576px) {
  main .about-sec {
    padding: 25px 16px !important;
  }

  .about-sec .about-heading {
    font-size: 20px;
  }

  .about-left-sec .about-para,
  .my-details div {
    font-size: 14px;
  }
}

@media screen and (max-width: 370px) {
  .about-img-sec img {
    width: 100% !important;
  }
}

/* My Skills Section */

.my-skills-sec {
  height: auto;
  background-color: var(--primary-light);
  border-radius: 20px;
}

.my-skills-heading {
  color: var(--primary);
  font-weight: 600;
  font-size: 35px;
}

.my-skills-heading::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: var(--primary);
  opacity: 0.6;
  margin: 15px auto 0;
  border-radius: 2px;
}

.skill-list {
  width: 90%;
}

.skill-list .skill {
  width: 220px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.skill-list .skill:hover {
  transform: translateY(-10px);
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-lighter);
}

.skill-list .skill .skill-name {
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 30px;
}

.skill-list .skill .skill-img-sec {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .main-skills-container .skill-list {
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center !important;
  }
}

@media screen and (max-width: 576px) {
  main .my-skills-sec {
    padding: 25px 16px !important;
  }

  .my-skills-heading {
    font-size: 20px;
  }

  .skill-list .skill {
    padding: 15px;
  }

  .skill-name {
    font-size: 18px;
  }
}
